# Temporary and binary files
*~
*.py[cod]
*.so
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.*.swp

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea

# Package files
*.egg
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.tox
coverage.xml
junit.xml

# Code analysis
flake8.txt
sloccount.sc

# Build and docs folder/files
.eggs/*
build/*
dist/*
sdist/*
docs/_rst/*
docs/_build/*
docs/include/*
cover/*
tests/build
MANIFEST
