# Temporary and binary files
*~
*.py[cod]
*.so
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.*.swp

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea

# Package files
*.egg
.installed.cfg
*.egg-info

# Unittest and coverage
/htmlcov
.coverage
coverage.xml
junit.xml

# Code analysis
flake8.txt
sloccount.sc

# Build and docs folder/files
/.eggs
/.pytest_cache
/build
/dist
/docs/_rst/*
/docs/_build/*
/docs/include/*
!/docs/include/.keep
/sdist
/tests/build
/tests/test-report.xml
/test-report.xml
